<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Notes</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="createnotes">
        <h1>Create your notes</h1>
    </div>
    <div id="parent">
        <div id="total">
        <form id="dataform" action="/" method="POST">
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title">
            <label for="note">Note:</label><br>
            <textarea type="text" id="note" name="note"></textarea>
            <button id="submitbtn" type="submit">CREATE</button>
          </form>
        </div>
    </div>
</body>
</html>