<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note app</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    body{
      background-color:#ffff;
    }
    .totalcard
  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  #notecard{
    margin:20px;
    width:300px;
    height: 300px;
    border:none;
    background-color:#FF449F;
    border-radius:10px;
  }

  .card-header
  {
      text-align: center;
      color:#022E57;
      font-family:monospace;
  }
  .card-text
  {
    color:#005F99;
    font-family:monospace;

  }
</style>
 </head>
<body>

    <div id="navbar">
       <h1> &#128196; NOTE IT</h1>
    </div>
    <div id="create">
        <a href="/create"><button id="createbtn">➕</button></a>
    </div>

    <div class="totalcard">
     <% notes.forEach(mynotes => { %>
     <div class="card mb-3" id="notecard">
        <div class="card-header"><h3><%= mynotes.title %></h3></div>
        <div class="card-body ">
        <p class="card-text"><%= mynotes.note %></p>
        </div>
        <form action="/<%= mynotes._id %>?_method=DELETE" method="POST">
         <button id="dlt" href="#"><i class="fas fa-trash"></i></button>
        </form>
     </div>
     <%})%>
     </div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>